/* MatrixLinesBackground.css */
.matrix-lines-container {
    z-index: 0;
  }
  
  .matrix-line {
    position: relative;
    width: 1px;
    height: 100%;
    overflow: hidden;
  }
  
  .matrix-line::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    animation: matrix-line-drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }
  
  /* Different colors for each line's pseudo-element */
  .line-1::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FF4500 75%, #FF4500 100%);
    animation-delay: 0.5s;
  }
  .line-2::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #32CD32 75%, #32CD32 100%);
    animation-delay: 1s;
  }
  .line-3::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #1E90FF 75%, #1E90FF 100%);
    animation-delay: 1.5s;
  }
  .line-4::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FFD700 75%, #FFD700 100%);
    animation-delay: 2s;
  }
  .line-5::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #8A2BE2 75%, #8A2BE2 100%);
    animation-delay: 2.5s;
  }
  .line-6::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #20B2AA 75%, #20B2AA 100%);
    animation-delay: 3s;
  }
  .line-7::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #DC143C 75%, #DC143C 100%);
    animation-delay: 3.5s;
  }
  .line-8::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #00FA9A 75%, #00FA9A 100%);
    animation-delay: 4s;
  }
  .line-9::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FF1493 75%, #FF1493 100%);
    animation-delay: 4.5s;
  }
  .line-10::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #00BFFF 75%, #00BFFF 100%);
    animation-delay: 5s;
  }
  
  @keyframes matrix-line-drop {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }